go 1.21.2

// Go workspaces

// Note: uncomment to allow go static code analysis

use (
	./tour_of_go
// .
// ./excercises
// .
// main
// main
// ./coroutines
// ./basics
// ./project-two
// ./project-two/mypackage
)
